<html>
    <body>
        <ul>Milk
            <li>Regular milk</li>
            <li>Chocolate milk</li>
            <li>Strawberry milk</li>
        </ul>
        <ul>Mushy food
            <li>Mushy carrots</li>
            <li>Mushy apples</li>
            <li>Mushy oranges</li>
        </ul>
        <ul>Oat stew
            <li>Spicy Oat stew</li>
            <li>Cold Oat stew</li>
        </ul>
         <ul>
            <li>
                <a href="http://127.0.0.1:5000/">Home</a>
            </li>
            <li>
                <a href="http://127.0.0.1:5000/about">about</a>
            </li>
            <li>
                <a href="http://127.0.0.1:5000/contact">contact</a>
            </li>
        </ul>
    </body>
</html>